html {
  background: rgb(124,18,188);
}

input:focus {
  background: #fff;
  border: 3px solid #486EFC;
  outline: none;
}

/* Colores de fondo
 ========================================================================== */

.background-plata {
  background: #F1EFF2;
}

.background-calcio {
  background: #F8F6F8;
}

.background-titanio-misa {
  background: rgb(124,18,188);
}


 /* ========================================================================== */

.logo-main {
  padding: 45px 30%;
}
@media (max-width: 1200px) {
  .logo-main{
    padding: 45px 25%;
  }
}
@media (max-width: 640px) {
  .logo-main{
    padding: 50px 17.5%;
  }
}

.ingresar {
  color: #FFFFFF;
  background-color: #F223C6;
  font-size: 15px;
  /* box-shadow: 0 6px #efa424; */
}

.ingresar:hover {
  background-color: #c10b99;
  /* box-shadow: 0 4px #efa424;
  top: 2px; */
}

.ingresar:active {
  background-color: #910873;
  /* box-shadow: 0 0 #efa424;
  top: 6px; */
}

.nombre-usuario {
  padding-top: 10%;
  padding-bottom: 50px;
}

.cerrar {
  margin-top: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #EE3B5E;
  border-color: #EE3B5E;
  font-size: 20px;
}

.cerrar:hover {
  color: #cc0000;
  border-color: #cc0000;
}

.cerrar:active {
  color: #990000;
  border-color: #990000;
}

.confirmados {
  color: #FFFFFF;
  background-color: rgb(124,18,188);
  padding-top: 20px;
  padding-bottom: 20px;
}

.confirmados:hover {
  background-color: #6b0fa3;
  /* box-shadow: 0 4px #efa424;
  top: 2px; */
}

.confirmados:active {
  background-color: #4c0b75;
  /* box-shadow: 0 0 #efa424;
  top: 6px; */
}

.disponibles {
  color: #FFFFFF;
  background-color: #F223C6;
  /* box-shadow: 0 6px #efa424; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.disponibles:hover {
  background-color: #c10b99;
  /* box-shadow: 0 4px #efa424;
  top: 2px; */
}

.disponibles:active {
  background-color: #910873;
  /* box-shadow: 0 0 #efa424;
  top: 6px; */
}



/* Clases de UIKit Modificadas
 ========================================================================== */

 .uk-container-small {
   padding: 0 30%;
 }

 @media (max-width: 1200px) {
   .uk-container-small{
     padding: 0 27.5%;
   }
 }
 @media (max-width: 960px) {
   .uk-container-small{
     padding: 0 22.5%;
   }
 }
 @media (max-width: 640px) {
   .uk-container-small{
     padding: 0 5%;
   }
 }


.uk-form-icon {
  padding-left: 15px;
}
